<launch>
	
	<node pkg="tp_ros_ialy" name="button" type="button_node.py"/>
 		
	<node pkg="tp_ros_ialy" name="PoseStamped" type="PoseStamped.py" output="screen">
	
		<remap from="PoseStamped_sub" to="button_state"/>
	</node>
	
	<node pkg="rviz" name="rviz" type="rviz" args="-d $(find tp_ros_ialy)/rviz/tp_ros_ialy.rviz" />

</launch>
		
		
